$primary-color: #FF6060;
$background-color: #ffffff;
$grey-color: #666666;
$grey-colorMain :#F6F6F6;
$gradient-color: #FFFFFF 0% #000000 50%;


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    padding: 0;
    margin: 0 auto;
    background-color: $background-color;
    max-width: 1440px;
}


.Header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 68px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    margin-top: 30px;

    a {
        color: $primary-color;
        text-decoration: none;
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
    }
}


a:hover {
    text-decoration: underline;
}

p {
    color: $background-color;
}

.NavigationBox {
    width: 309px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 57px;
}

.Logo {
    height: 68px;
}


Footer {
    background-color: #000000;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 209px;
}

// Home

.sloganBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 100px;
    height: 223px;
    width: 100%;
    border-radius: 25px;

    .imgWallpaper {
        height: 100%;
        width: auto;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.7);
        position: relative;
    }

    .Slogan {
        position: absolute;
        font-size: 48px;
        font-weight: 300;
        line-height: 68px;
    }


}

.cardBox {
    background-color: $grey-colorMain;
    width: auto;
    height: auto;
    display: flex;
    gap: 40px;
    border-radius: 25px;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

    .Card {
        width: 30%;
        height: 340px;
        border-radius: 10px;
        background-color: #FF6060;
        cursor: pointer;
        text-decoration: none;
        position: relative;


        .cardImg {
            height: 340px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
            // Ajouter au dessus, url pour preciser sur la photo
        }

        .cardTitle {
            position: absolute;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            bottom: 20px;
            left: 25px;
            width: 300px;
            height: 52px;
        }
    }
}